body {
    background-color: #f8f6f2f8;
}

i {
    color: #ed8323;
}

.btn, .btn:focus, .btn:active, .btn:visited, .btn:hover {
    background-color: #fff4e9;
    color :#d47822 !important;
    /* : #ffb46e; */
}

.sidebar-menu .sidebar-item.active .sidebar-link {
    background-color: #ed8323 !important;
}

.sidebar-wrapper .menu .sidebar-title {
    color: #b56727;
}

.sidebar-wrapper .menu .sidebar-link span {
    color: #b56727;
}