:root {
    --ungu: #790995;
    --white: #ffffff;
    --ungudark: #4E0660;
    --ungudark2: #3D044B;
    --ungumuda2: #57066B;
    --ungumuda: #C411F1;
    --ungumuda3: #F9E7FE;
    --bg: #fcf6fd;
  }

body {
    background-color: var(--bg);
}

h1, h2, h3, h4, h5 {
    color: var(--ungudark2);
}

a {
    color: var(--ungu);
}

.bi-heart-fill {
    color: red !important;
}

a:hover {
    color: var(--ungumuda2);
}

.btn, .btn:focus, .btn:active, .btn:visited, .btn:hover {
    background-color: var(--ungumuda3);
    color :var(--ungu) !important;
    /* : #ffb46e; */
}

.sidebar-menu .sidebar-item.active .sidebar-link {
    background-color: var(--ungu) !important;
}

.sidebar-wrapper .menu .sidebar-link i, .sidebar-wrapper .menu .sidebar-link svg{
    color: var(--ungudark2);
}

.sidebar-wrapper .menu .sidebar-title, .sidebar-wrapper .menu .sidebar-link span {
    color: var(--ungumuda2);
}

h1, h3, h6, .card-title a {
    color: var(--ungumuda2) !important;
}

.dropdown-item {
    color: var(--ungudark2);
}

.bi {
    position:relative; 
    top: calc(50% - 10px);
    color: var(--ungu);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--ungumuda);
    color: white;
}

.btn-save, .btn-save:focus, .btn-save:active, .btn-save:visited, .btn-save:hover{
    background-color: var(--ungudark); 
    color: white !important;
}

.form-control:focus {
    border-color: #ff80ff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}

.form-check-input {
    border: 1.5px solid #dce7f1;
    width: 17px;
    height: 17px;
}

.form-check-input:checked {
    background-color: var(--ungu);
}

.nav-tabs .nav-link.active {
    color: var(--ungudark2);
    background-color: var(--ungumuda3);
}

.nav-tabs .nav-link.active:after {
    background-color: var(--ungu);
}
